@font-face {
    font-family: "Rubik";
    src: url("./assets/fonts/Rubik-Regular.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Rubik";
    src: url("./assets/fonts/Rubik-Medium.ttf") format("truetype");
    font-weight: bold;
}

:root {
    font-family: "Rubik", Arial, sans-serif;
    line-height: 1.5;
    font-weight: 300;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    background: #333 url("./assets//tile-2.png");
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-weight: 500;
    font-size: 20px;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: none;
}
button:focus,
button:focus-visible {
    outline: none;
}

.MuiPaper-root.MuiDrawer-paper {
    background: #333 url("./assets//tile-2.png");
}
